* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
/*  background-color: #f6f6f7; */
  background-color: #213140;
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  min-height: 530px;
}

header {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 65px;
  /*  background-color: #f6f6f7; */
  background-color: #213140;
}

header h1 {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5%;
  color: #fe7823;
}

header nav {
 position: absolute;
 top: 15px;
 right: 5%;
}

header nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0;
}

header nav ul li {
  display: inline-block;
  /*  background-color: #f6f6f7; */
  background-color: #213140;
  color: #fe7823;
  padding: 14px 16px;
  font-size: 18px;
}

header nav ul li:hover {
  text-decoration: underline;
  text-underline-position: under;
}

header a {
  text-decoration: none;
  color: #fe7823;
}

header a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

fieldset {
  border: 0;
  border-radius: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
}

input {
  display: block;
  width: 100%;
  border-style: none;
  padding: .5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
  outline: none;
  font-size: 18px;
}

select, input[type="text"] {
  width: 100%;
}

.icon {
  padding: 0 !important;
  color: #fe7823 !important;
}

.icon:hover {
  text-decoration: none !important;
}

.topnav .icon {
    display: none;
}

.loginForm {
  width: 40%;
  background-color: gray;
  border: 2px;
}

.systemSummary {
  background-image: url("http://thinkful.pocketcalculator.io/vioth/vioth-bg-7.jpg");
  background-size: cover;
  background-position: cover;
  overflow: hidden;
  height: 500px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.systemSummaryText {
  margin-left: 20px;
  margin-top: 20px;
  width: 80%;
  color: #f0f8ff;
}

.systemSummaryText p {
  margin: 0px;
}

.systemSummaryChartArea {
  background-color: white;
  height: 250px;
  width: 90%;
  border: solid rgba(100,100,100,0.25) 1px;
  border-radius: 5px;
  -webkit-box-shadow: 6px 7px 14px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 14px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 11px -5px rgba(0,0,0,0.75);
  border: dotted black 1px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.componentGroupArea {
  max-width: 90vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.componentGroupArea ul {
  padding-left: 0;
  list-style-type: none;
}

.systemComponentWindow {
  background-color: white;
  border: solid rgba(100,100,100,0.25) 1px;
  border-radius: 3px;
  -webkit-box-shadow: 6px 7px 13px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 13px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 11px -5px rgba(0,0,0,0.75);
  margin-left: 0;
  margin-right: 0;
  min-height: 33vh;
  max-height: 55vh;
  margin-bottom: 1vh;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    overflow-y: hidden;
    transition: 3.0s;
}

.overlay-content {
    background-color: white;
    position: relative;
    top: 15%;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 3.0s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.editComponentButton {
  display: inline-block;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  background-color: white;
  font-weight: 600;
  color: #213140;
  border-top: 1px solid #b1c4d7;
  border-bottom: 1px solid #b1c4d7;
  border-left: none;
  border-right: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.editComponentButton:hover {
  border: 1px solid #213140;
  background-color: #fe7823;
  color: #213140;
}

.editComponentButton:active {
  border: 1px solid #213140;
  background-color: #fe7823; /* Green */
  color: #213140;
}

.addReadingButton {
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  background-color: white;
  font-weight: 600;
  color: #213140;
  border-top: 1px solid #b1c4d7;
  border-bottom: 1px solid #b1c4d7;
  border-left: 1px solid #b1c4d7;
  border-right: 1px solid #b1c4d7;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.addReadingButton:hover {
  border: 1px solid #213140;
  background-color: #fe7823;
  color: #213140;
}

.addReadingButton:active {
  border: 1px solid #213140;
  background-color: #fe7823;
  color: #213140;
}

.deleteComponentButton {
  display: inline-block;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  background-color: white;
  font-weight: 600;
  color: #213140;
  border-left: none;
  border-top: 1px solid #b1c4d7;
  border-bottom: 1px solid #b1c4d7;
  border-right: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.deleteComponentButton:hover {
  border: 1px solid #213140;
  background-color: #fe7823;
  color: #213140;
}

.deleteComponentButton:active {
  border: 1px solid #213140;
  background-color: #fe7823;
  color: #213140;
}

#login {
  padding: 8px;
}

#register {
  padding: 8px;
}

#logout {
  padding: 8px;
}

#addSystemComponent {
  padding: 8px;
}

#status {
  padding: 8px;
}

#isHuman {
  font-size: 18px;
  background-color: white;
  padding-left: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  border-top: none;
}

#tagLine {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#componentWindowName {
  margin-top: 5px;
  margin-left:10px;
  font-size: 22px;
  font-weight: 600;
}

#componentWindowId {
  margin-left: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

/*
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}
*/

/* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 670px) {
 .topnav li {display: none;}
 .topnav li.icon {
   text-decoration: none;
   float: right;
   display: block;
   color: #fe7823;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 670px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive li.icon {
   text-decoration: none;
   color: #fe7823;
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive li {
   float: none;
   display: block;
   text-align: left;
 }
}
