body * {
  box-sizing: border-box;
}

.systemSummary {
  height: 500px;
  width: 100%;
  border: dotted red 1px;
  margin-left: auto;
  margin-right: auto;
}

.systemChartArea {
  height: 250px;
  width: 60%;
  border: dotted black 1px;
}
