body * {
  box-sizing: border-box;
}

header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f6f6f7;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5%;
  display: inline-block;
}

header nav {
 position: absolute;
 top: 25px;
 right: 10%;
}

header nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

header nav ul li {
  display: inline-block;
}

header a {
  text-decoration: none;
}

.deviceStatusArea {
  border: dotted blue 1px;
  font-size: 0;
}

.deviceWindow {
  width: 33.3%;
  display: inline-block;
  border: dotted green 1px;
}

.systemSummary {
  height: 500px;
  width: 100%;
  border: dotted red 1px;
  margin-left: auto;
  margin-right: auto;
}

.systemSummaryChartArea {
  height: 250px;
  width: 95%;
  border: dotted black 1px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.componentGroupArea ul li {
  display: inline-block;
}

.componentGroupArea li {
}

.systemComponentWindow {
  border: dotted green 1px;
  width: 300px;
  height: 200px;
  margin: 3px;
  padding: 4px;
}

#login {
  padding: 8px;
}

#register {
  border: solid red 1px;
  color: red;
  padding: 8px;
}

#logout {
  padding: 8px;
}

#addSystemComponent {
  padding: 8px;
}

#status {
  padding: 8px;
  text-decoration: none;
  color: black;
}
